---
jupyter: Python3
date: 2022-10-29
title: Bigquery_사용자 정의 함수(UDF)
toc: true
categories: Bigquery
author: limyj0708
comments:
  giscus: 
    repo: quarto-dev/quarto-docs
format:
    html:
        page-layout: full
---

- 다른 언어에서 함수를 정의, 사용하는 과정과 동일하다.
- 엄청 긴 CASE WHEN 구문 같은 것을 등록해 두면, 두고두고 편하게 사용할 수 있다.

## 함수 등록하기

```SQL
CREATE OR REPLACE FUNCTION `project_id.dataset.function_name` -- 이 위치에 만들 것
(money_enum INT64) RETURNS STRING -- 정수 parameter를 받아서 문자열을 반환함
OPTIONS (description="money_enum을 인자로 받아서 money_name 값을 반환하는 함수") AS (
    CASE money_enum
      WHEN 1 THEN "재화 1"
      WHEN 2 THEN "재화 2"
      WHEN 3 THEN "재화 3"
      WHEN 4 THEN "재화 4"
      WHEN 5 THEN "재화 5"
      WHEN 6 THEN "재화 6"
      WHEN 7 THEN "재화 7"
      WHEN 8 THEN "재화 8"
      WHEN 9 THEN "재화 9"
      WHEN 10 THEN "재화 10"
      WHEN 11 THEN "재화 11"
      WHEN 12 THEN "재화 12"
      WHEN 13 THEN "재화 13"
      WHEN 14 THEN "재화 14"
      WHEN 15 THEN "재화 15"
      WHEN 16 THEN "재화 16"
      WHEN 17 THEN "재화 17"
      WHEN 18 THEN "재화 18"
      WHEN 19 THEN "재화 19"
      WHEN 20 THEN "재화 20"
      ELSE "대응되는 money enum 없음"
    END
);
```

## 함수 사용하기

```SQL
 SELECT b_date, accountId, money_type, amount,
    `project_id.dataset.function_name`(money_type) AS money_name -- money_type을 넣으면 money_name을 반환하는 UDF
    FROM `-` 
    where b_date = start_date
    and money_type NOT IN (3,4,5)
```

위와 같이 함수를 호출하여 불러오면 된다.